[Unit]
Description=TORQUE trqauthd daemon
Requires=network.target local-fs.target
Wants=syslog.target
After=network.target local-fs.target syslog.target

[Service]
Type=simple
User=root

ExecStart=/usr/local/sbin/trqauthd -F
ExecStop=-/usr/local/sbin/trqauthd -d

[Install]
WantedBy=multi-user.target
